.container{
    margin: 0 auto;
    margin-top: 20px;
}
.content {
    padding: 40px 0;  
}
.content__title{
    margin: 55px 0;
    text-align: center;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.205);
    font-weight: 700;
}
.content__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}