.cart__item{
    display: flex;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.473);
    padding-top: 30px;
    margin-top: 30px;
}
.cart__item__img{
    display: flex;
    align-items: center;
    margin-right: 15px;
    width: 10%;
}
.cart__item__img img{
    width: 80px;
    height: 80px;
}
.cart__item__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.cart__item__count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13%;
}
.cart__item__info h3 {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
}
.cart__item__price{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    font-size: 1.5em;
}

.cart__item__button{
    font-size: 22px;
    background-color: rgba(128, 128, 128, 0.473);
    height: 30px;
    width: 30px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 2em;
}
.cart__item__button p{
    margin-top: -10px;
}
.cart__item__button:hover{
    background-color: rgba(128, 128, 128, 0.726);
}